
<div class="container">
    <h5 style="margin-top: 10px; font-style: oblique">Измени промоција</h5>
    <p style="margin-top: 10px; font-style: oblique">*Задолжително промени барем еден карактер во секое поле</p>
    <form #UpdateForm="ngForm">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="title1">Име</label>
                    <input required ngModel #name="ngModel" name="name" class="form-control" [value]="boxPromotion?.name">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="title1">Цена</label>
                    <input equired ngModel #price="ngModel" name="price" class="form-control" [value]="boxPromotion?.price">
                </div>
            </div>
        </div>  
        
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="title1">Патека до сликата</label>
                    <input equired ngModel #imageurl="ngModel" name="imageurl" class="form-control"[value]="boxPromotion?.imageurl">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="title1">Кратко објаснување</label>
                    <textarea required ngModel #shortDescription="ngModel" name="shortDescription" class="form-control" rows="3" [value]="boxPromotion?.shortDescription"></textarea>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="title1">Долго објаснување</label>
                    <textarea required ngModel #longDescription="ngModel" name="longDescription"class="form-control" rows="3" [value]="boxPromotion?.longDescription"></textarea>
                </div>
            </div>
        </div>
    
        <button (click)="updateBoxPromotion(UpdateForm.form)" type="submit" class="btn btn-success" style="margin-right: 10px;">Промени</button>
        <button (click)="goToBoxPromotions()"type="button" class="btn btn-danger">Назад</button>

    </form>
</div>