<div class="footer" style="height:500px; padding-top:5%; padding-bottom:5%">
    <div class="row align-items-center h-100 w-100">
        <div class="col-12 text-center">
     
           <p>
                <b>Контакт</b>
					<br>
					<small>"Улица Виулица" 20
						<br>
						1000 Скопје, Македонија
						<br>
						<br>
                        <i class="fa fa-phone"></i> 123456789
                        <br>
                        <i class="fa fa-envelope-o"></i> <a href="mailto: sample@finki.ukim.mk">kupimi@gmail.mk</a>
                        <br>
                    </small>
            </p>
            <a href="#" style="font-size: 72px; color:#484858;"><i class="fa fa-facebook"></i></a>
				&nbsp;&nbsp;&nbsp;&nbsp;
				<a href="#" style="font-size: 72px; color:#484858;"><i class="fa fa-twitter"></i></a>
				&nbsp;&nbsp;&nbsp;&nbsp;
				<a href="#" style="font-size: 72px; color:#484858;"><i class="fa fa-google-plus"></i></a>
				<br>
				<hr style="width: 10%">
				<small>Copyright <i class="fa fa-copyright"></i> КупиМи 2020</small>
                <br>
        </div>
    </div>
</div>

