<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<div class="wrapper fadeInDown">
  <div id="formContent">

      <div class="fadeIn first">
          <img src="assets/meal2.jpg" id="icon" alt="User Icon" />
          <span class="tag" style="margin-top: 10px;">{{boxPromotion.price}} МКД</span>
      </div>

      <div class="card-body">
        <h5 class="card-title">{{boxPromotion.name}}</h5>
        <div style="margin-bottom: 20px;">
        <div class="card-info">
          <p class="card-text"><i class="fa fa-info" style="color: black;"></i>{{ boxPromotion.shortDescription}}</p>
        </div>
        </div>
      </div>

      <div class="card-info"  style="width: 70%;">
        <p > {{boxPromotion.longDescription}}</p>
      </div>

        <button  class="btn btn-success" style="margin-right: 10px; margin-bottom: 20px;">Стави во корпа</button>
        <button  (click)="goToBoxPromotions()" class="btn btn-dark" id="kopche-detali" style="margin-right: 10px; margin-bottom: 20px;">Назад</button>
      
  </div>
</div>
