<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="wrapper fadeInDown">
  <div id="formContent">

    <div class="fadeIn first">
      <img src="https://png.pngtree.com/element_our/png_detail/20180912/hat-chef--logo-and-symbols-vector-template-png_91612.jpg" id="icon" alt="User Icon" />
    </div>

    <form>
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="Name">
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="Surname">
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="E-mail">
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="New Password">
      <input type="submit" class="fadeIn fourth" value="Submit">
    </form>

   

  </div>
</div>