.nav-link{
    font-style: oblique;
}

.container{
    color: white;
    font-style: oblique;
}

.options{
    text-align: right;
    color: white;
}

#navbar1{
    background-color: tomato;
}

.nav-item{
    margin-left: 20px;
    margin-right: 20px;
}


