
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div style="background: url(assets/bg.jpg); background-size: 100% 100%; height: 700px">
    <div class="container">
        <div class="row">
            <div class="col-md-6 block">
                <div class="circle">
                        <p style="font-size: 20px;">KупиМи <br><br> Пакет рецепти полн со вкусови - квалитетни состојки, вкусни рецепти, мала авантура и многу уживање. <br><br>Добре дојдовте! </p>
                </div>
            </div>           
        </div>
    </div>
</div>
<div id="services" style="background-color: #dedede; padding: 50px;">
    <div class="row align-items-center w-100">
        <div class="text-center col-12 text-white">
            <h3 style="color:  #484858;" >Како функционираме?</h3>
            <hr style="width: 100px; background-color:  #484858;">
        </div>

        <div class="col-md-3 col-sm-12 card text-white text-center" style="background-color: #dedede; border:0;">
            <div class="card-img-top rounded-circle align-self-center" style="background:   #484858 ; color: #dedede; height: 100px; width: 100px">
                <i class="fa fa-book" style="font-size:48px; padding:25%"></i>
            </div>
            <div class="card-body">
                <h5 class="card-title" style="color:  #484858;">Ние креираме оргинални рецепти</h5>
                <p class="card-text " style="color:  #484858;">Lorem ipsum dolor sit amet,<br> consectetur adipisicing elit</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-12 card text-white text-center" style="background-color: #dedede; border:0;">
            <div class="card-img-top rounded-circle align-self-center" style="background:   #484858 ; color: #dedede; height: 100px; width: 100px">
                <i class="fa fa-laptop" style="font-size:48px; padding:25%"></i>
            </div>
            <div class="card-body">
                <h5 class="card-title" style="color:  #484858;">Вие избарате што преферирате</h5>
                <p class="card-text " style="color:  #484858;">Lorem ipsum dolor sit amet,<br> consectetur adipisicing elit</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-12 card text-white text-center" style="background-color: #dedede; border:0;">
            <div class="card-img-top rounded-circle align-self-center" style="background:   #484858 ; color: #dedede; height: 100px; width: 100px">
                <i class="fa fa-truck" style="font-size:48px; padding:25%"></i>
            </div>
            <div class="card-body">
                <h5 class="card-title" style="color:  #484858;">Ние вршиме достава до вашата врата</h5>
                <p class="card-text " style="color:  #484858;">Lorem ipsum dolor sit amet,<br> consectetur adipisicing elit</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-12 card text-white text-center" style="background-color: #dedede; border:0;">
            <div class="card-img-top rounded-circle align-self-center" style="background:   #484858 ; color: #dedede; height: 100px; width: 100px">
                <i class="fa fa-cutlery" style="font-size:48px; padding:25%"></i>
            </div>
            <div class="card-body">
                <h5 class="card-title" style="color:  #484858;">Вие готвите и јадете перфектни оброци</h5>
                <p class="card-text " style="color:  #484858;">Lorem ipsum dolor sit amet,<br> consectetur adipisicing elit</p>
            </div>
        </div>
    </div>
</div>
<div id="services" style="background-color: #dedede; padding: 50px;">
    <div class="row align-items-center w-100">
        
        <img src="assets/delivery.png" style="margin-left: 10%;">
        
    </div>
</div>

  